PORT=4000
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/sparkel-sales
JWT_SECRET=your_super_secret_key_here
GOOGLE_CLIENT_ID=your_google_oauth_client_id_here
CLIENT_URL=http://localhost:3000

# Cloudinary (required for image uploads)
CLOUDINARY_URL=cloudinary://598689199128365:3Up-tlaAo4n9lf0a8YRwgg_hgJI@dbko61r5s
# OR use individual keys
CLOUDINARY_CLOUD_NAME=dbko61r5s
CLOUDINARY_API_KEY=598689199128365
CLOUDINARY_API_SECRET=3Up-tlaAo4n9lf0a8YRwgg_hgJI
